@page
@model WebApplicationNet5.Views.School.Index


<div class="container-fluid ">
    <a href="/Student" class="badge badge-primary">Students</a>
    <a href="/Teacher" class="badge badge-primary">Teachers</a>
    <a href="/Group" class="badge badge-primary">Groups</a>
</div>